<% layout("/layouts/boilerplate") %>


  <div class="" id="filters">

    <div class="filter-wrapper">


      <div class="filter" onclick="filterByType('Rooms')">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>

      <div class="filter" onclick="filterByType('Rooms')">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>

      <div class="filter" onclick="filterByType('Iconic Cities')">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>

      <div class="filter" onclick="filterByType('Mountain')">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
      </div>

      <div class="filter" onclick="filterByType('Castles')">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>

      <div class="filter" onclick="filterByType('Amazing pools')">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
      </div>

      <div class="filter" onclick="filterByType('Farms')">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>

      <div class="filter" onclick="filterByType('Camping')">
        <div><i class="fa-solid fa-tents"></i></div>
        <p>Camping</p>
      </div>

      <div class="filter" onclick="filterByType('Arctic')">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      <div class="filter" onclick="filterByType('Beach')">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div>

      <div class="filter" onclick="filterByType('Arctic')">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      <div class="filter" onclick="filterByType('Beach')">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div>




    </div>


    <div><button id="filterButton"><i class="fa-solid fa-arrow-down-wide-short"></i> Filters</button></div>
    <!-- Filter popup -->
    <div class="filter-popup" id="filterPopup">
      <div class="filter-content" id="filterContent">
        <!-- Location options with checkboxes will be displayed here -->
      </div>
      <button id="submitFilter">Submit</button>
    </div>



    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>

  </div>





  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 mt-3">
    <% let filteredListings=selectedLocations ? allListings.filter(listing=>
      selectedLocations.includes(listing.location))
      : allListings;

      // Check for type filtering
      filteredListings = type ? filteredListings.filter(listing => type.includes(listing.type))
      : filteredListings;
      %>

      <% for (let listing of filteredListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b> <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <i class="tax-info"> &nbsp; +18% GST</i>
                  <p><i class="fa-solid fa-location-dot"></i>
                    <%= listing.location %> <br>
                      <i class="fa-solid fa-tag"></i>
                      <%= listing.type %>
                  </p>

              </p>
              </p>
            </div>
          </div>
        </a>
        <% } %>
  </div>





  <div class="mt-5 mb-5 card col-6 offset-3">
    <p class="text-center"><b>Continue exploring lakefront homes</b></p>
    <button type="button" class="btn btn-secondary btn-lg">Show more</button>
  </div>


  <section class="founder-ceo-section">
    <div class="founder">
      <img src="https://res.cloudinary.com/dosg3vve9/image/upload/v1702187208/d0ugpkjbuelkahzkrl9r.jpg" alt="Founder"
        class="founder-photo">
      <h3>Abhishek Anand</h3>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/abhishekanandok" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/abhishekanandok" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/abhishekanandok" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/AbhishekAnandok" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>

      <p>Founder</p>
      <p>Open Source Contributor | MERN Stack Developer | JavaScript, MongoDB, Express, React, Node | Learned C & Web
        development | C++,DSA,Java,Golang | Learner</p>
    </div>
  </section>

  <script src="/js/tax.js"></script>
  <script src="/js/filter_button.js"></script>
  <script src="/js/icon_filter.js"></script>